# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - webappeduu

on:
  push:
    branches:
      - main
  workflow_dispatch:

# DEFINE O CAMINHO DA PASTA AQUI PARA NÃO DAR ERRO
env:
  PROJECT_PATH: 'back/sistema_chamados' 
  PYTHON_VERSION: '3.12'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create and Start virtual environment and Install dependencies
        run: |
          python -m venv antenv
          source antenv/bin/activate
          # AQUI ESTA O PULO DO GATO: Apontamos para o requirements na pasta certa
          pip install -r ${{ env.PROJECT_PATH }}/requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          # AQUI TAMBÉM: Fazemos upload APENAS da pasta do backend
          path: |
            ${{ env.PROJECT_PATH }}
            !${{ env.PROJECT_PATH }}/antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D0BB93604EAA4903BB23A817050FBD7D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EA8F684739A744B49C980C702A867C7A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2737C948954841A28AE0DE9D0CE12C7F }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'webappeduu'
          slot-name: 'Production'